* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
}

.card {
    width: 100%;
    object-fit: cover;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 12px
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}

.navbar h1 {
    font-size: 22px;
    font-weight: 800;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: #595959;
    font-size: 18px;
    font-weight: 500;
}

.container_titulo {
    text-align: center;
    margin-top: 60px;
}

.container_titulo h2 {
    font-size: 40px;
}
.container_titulo p {
    font-size: 16px;
    color: #595959;
}

.container_buscador {
    margin: 30px auto;
    width: 330px;
    border: 1px solid #595959;
    border-radius: 6px;
}

.container_buscador input {
    border: none;
    width: 300px;
    padding: 12px;
}
.container_buscador input:focus {
    outline: none;
}

.container_articles {
    max-width: 1300px;
    overflow: hidden;
    margin: 80px auto;
    display: flex;
    gap:30px;
}


.card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
}

.etiqueta {
    width: 60px;
    background-color: #283A61;
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
}

.card h3 {
    font-size: 20px;
}

.fecha {
    font-size: 15px;
}

.description {
    font-size: 16px;
}
